{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <div class="main container">
            <div class="page container">
                <div class="tips_heading">
                    <h2>Home</h2>
                </div>
                <div class="btn rounded large" v-on:click="goto('default')">
                    About
                </div>
                <div class="btn rounded large" v-on:click="goto('tips')">
                    Tips
                </div>
                <div class="btn rounded large" v-on:click="goto('faq')">
                    FAQ
                </div>
                <div class="btn rounded large" v-on:click="goto('resources')">
                    Resources
                </div>

                <div v-if="page=='default'">
                    <h5>About</h5>
                    <div class="default_text">
                        <p>
                            This website was created to help people who suffer from anxiety.
                        </p>
                        <p>
                            The Home page has tips, FAQ, and resources where users can learn more about anxiety and
                            access
                            resources that provide information and helplines if needed.
                        </p>
                        <p>
                            The Tracking page allows registered users to track their anxiety attacks and see their
                            progress.
                            It includes a calendar to log anxiety attacks and a graph to show the general trend of
                            the number of attacks over time.
                        </p>
                        <p>
                            The Music page allows registered users to upload their own soundtracks to listen to
                            when they need to calm down.
                        </p>
                        <p>
                            Anxiety is an important mental health issue that affects <b>1 in 13</b> people in the world.
                            We hope that this website will not only bring awareness to this issue, but help those who
                            suffer from anxiety by providing a space to calm down and relax.
                        </p>
                    </div>
                </div>

                <div v-if="page=='tips'">
                    <div class="tips_heading">
                        <h5>Tips</h5>
                    </div>
                    <div class="tip_title">
                        <b>1. Take a time-out</b>
                    </div>
                    <div class="tip_text">
                        <p>
                            Practice yoga, listen to music, meditate, get a massage, or learn relaxation techniques.
                            Stepping back from the problem helps clear your head.
                        </p>
                    </div>

                    <div class="tip_title">
                        <b>2. Eat well-balanced meals</b>
                    </div>
                    <div class="tip_text">
                        <p>Do not skip any meals. It is helpful to keep healthy, energy-boosting snacks nearby to
                            satiate your hunger.
                        </p>
                    </div>

                    <div class="tip_title">
                        <b>3. Limit alcohol and caffeine</b>
                    </div>
                    <div class="tip_text">
                        <p>Alcohol and caffeine can aggravate anxiety and trigger panic attacks.</p>
                    </div>

                    <div class="tip_title">
                        <b>4. Get enough sleep</b>
                    </div>
                    <div class="tip_text">
                        <p>It is crucial to get enough sleep, since your body needs additional rest when you are
                            stressed.
                        </p>
                    </div>

                    <div class="tip_title">
                        <b>5. Exercise daily</b>
                    </div>
                    <div class="tip_text">
                        <p>Daily exercise can help you keep fit and feel good.</p>
                    </div>

                    <div class="tip_title">
                        <b>6. Do your best</b>
                    </div>
                    <div class="tip_text">
                        <p>Sometimes, it simply isn't possible to achieve a flawless or perfect result. Take pride
                            in
                            your results and what you have achieved.
                        </p>
                    </div>

                    <div class="tip_title">
                        <b>7. Accept that you cannot control everything</b>
                    </div>
                    <div class="tip_text">
                        <p>Many aspects of our lives are often out of control. Sometimes it is better to go with the
                            flow and see where life takes you.
                        </p>
                    </div>

                    <div class="tip_title">
                        <b>8. Maintain a positive attitude</b>
                    </div>
                    <div class="tip_text">
                        <p>It is important to maintain a positive mentality. Try to block out or replace negative
                            thoughts.</p>
                    </div>

                    <div class="tip_title">
                        <b>9. Learn what triggers your anxiety</b>
                    </div>
                    <div class="tip_text">
                        <p>Find what what factors cause you to be anxious. Is it work, family, school, or is it some
                            other factor? It can be helpful to keep a record of when you’re feeling stressed or
                            anxious,
                            and look for a pattern.
                        </p>
                    </div>

                    <div class="tip_title">
                        <b>10. Talk to someone</b>
                    </div>
                    <div class="tip_text">
                        <p>Reach out and talk to family and friends if you’re feeling overwhelmed, and let them know
                            of
                            ways that they can help you. If you find it hard to manage your anxiety, talk to a
                            physician
                            or therapist for professional help.
                        </p>
                    </div>

                    <!--Source: https://adaa.org/tips-->
                </div>


                <div v-if="page=='faq'">
                    <div class="tips_heading">
                        <h5>FAQ</h5>
                    </div>
                    <div class="accordion">
                        <input type="radio" name="group1" id="faq1">
                        <label for="faq1"><a>Do I have an anxiety disorder?</a></label>
                        <div>
                            <div class="faq_text padded">
                                Anxiety is a normal part of life and is an important biological response that allows
                                you
                                to react quickly in the face of danger. However, if your anxiety becomes
                                overwhelming
                                and persistent, and leads to you being unable to being unable to live your normal
                                daily
                                life, it is possible that you have an anxiety disorder.
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="radio" name="group1" id="faq2">
                        <label for="faq2"><a>What causes anxiety disorders?</a></label>
                        <div>
                            <div class="faq_text padded">
                                Research has shown that anxiety disorders may be a biological trait inherited from
                                your
                                parents or close relatives. There are many different factors which may lead to the
                                development of anxiety disorders such as including genetics, brain chemistry,
                                personality, and life events.
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="radio" name="group1" id="faq3">
                        <label for="faq3"><a>How do I find the right health professional?</a></label>
                        <div>
                            <div class="faq_text padded">
                                <p>
                                    Anxiety disorders can be treated by a wide range of mental health professionals,
                                    including psychologists, psychiatrists, clinical social workers, and psychiatric
                                    nurses. Your primary care physician can also be of help, as they can make a
                                    diagnosis and prescribe medication to help you cope with your anxiety or
                                    depression
                                    if needed. Primary care physicians can also recommend you to a mental health
                                    provider if you require more information or resources.
                                </p>

                                <p></p>
                                <p>Visit the resources page for additional information.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="radio" name="group1" id="faq4">
                        <label for="faq4"><a>What treatment options are available?</a></label>
                        <div>
                            <div class="faq_text padded">
                                <p>
                                    Treatments for anxiety disorders may include medication or therapy; both types
                                    have
                                    been found effective. A combination of medication and therapy may also be
                                    effective.
                                    The decision about treatment is based on your needs and preferences. Discuss
                                    your
                                    options with a professional who is familiar with your diagnosis and overall
                                    health.
                                </p>
                                <p>
                                    Consult a doctor or therapist to get a proper diagnosis and to learn about
                                    treatment
                                    options, length of treatment, side effects, time commitment, and other health
                                    issues
                                    to help you decide on the best treatment approach for you.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="radio" name="group1" id="faq5">
                        <label for="faq5"><a>How effective are treatments? How long do they take?</a></label>
                        <div>
                            <div class="faq_text padded">
                                <p>
                                    Success of treatment varies, but most people with an anxiety disorder can be
                                    helped
                                    with professional care. There are many different options of therapy and
                                    medication,
                                    each with varying levels of effectiveness and success. Medication can be a
                                    short-term or long-term treatment, since it is often a long and complicated
                                    process
                                    to find the right drug for you. Medical professionals must consider multiple
                                    factors
                                    such as the severity of symptoms, other medical conditions and individual
                                    circumstances when considering which medication to prescribe to the patient. As
                                    a
                                    result, treatment is tailored for each individual and may require time and
                                    patience
                                    on your part before the best drug is found for your treatment.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="radio" name="group1" id="faq6">
                        <label for="faq6"><a>What kinds of medication are used for anxiety disorders?</a></label>
                        <div>
                            <div class="faq_text padded">
                                <p>Four major classes of medications are used in the treatment of anxiety
                                    disorders:</p>

                                <p>SSRIs (selective serotonin reuptake inhibitors)</p>
                                <p>SNRIs (serotonin-norepinephrine reuptake inhibitors)</p>
                                <p>benzodiazepines</p>
                                <p>tricyclic antidepressants</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="radio" name="group1" id="faq7">
                        <label for="faq7"><a>What if I have side effects from my medication?</a></label>
                        <div>
                            <div class="faq_text padded">
                                <p>
                                    Contact your physician if you experience side effects, even if you unsure
                                    whether
                                    the symptom is caused by medication. Do not stop taking the medication without
                                    first
                                    consulting with the prescribing physician, as it may cause other health risks.
                                </p>
                                <p>
                                    If you are pregnant, make sure to talk to your doctor about the risks and
                                    benefits
                                    of treatment, as the effectiveness and safety differs case by case.
                                </p>
                                <p>
                                    Visit the resources page for more information.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion">
                        <input type="radio" name="group1" id="faq8">
                        <label for="faq8"><a>Is it safe for children to take medication?</a></label>
                        <div>
                            <div class="faq_text padded">
                                <p>
                                    The U.S. Food and Drug Administration (FDA) issued a warning on October 2004
                                    that
                                    antidepressant medications, may increase suicidal thoughts and behavior in a
                                    small
                                    number of children and adolescents. However, the FDA has not prohibited or
                                    removed
                                    these medications, and no suicides were reported in the studies that led to the
                                    warning.
                                </p>
                                <p>
                                    Talk to your pediatrician or therapist if you have any concerns about the
                                    effects of
                                    medication on your child. Keep track of signs of depression or anxiety and
                                    notify
                                    your child's doctor and therapist to provide the necessary help and care your
                                    child
                                    needs. Untreated anxiety disorders in children increases the risk for
                                    depression,
                                    social isolation, substance abuse, and suicide.
                                </p>
                                <p>
                                    Visit the resources page for more information.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="page=='resources'">
                    <div class="tips_heading">
                        <h5>Resources</h5>
                    </div>
                    <div class="tip_title">
                        <p>
                            <b>Here are some resources you can visit for additional help or information:</b>
                        </p>
                    </div>

                    <a href="https://suicidepreventionlifeline.org/" class="site_link">National Suicide Prevention
                        Lifeline</a>
                    <p class="site_description">
                        If you are feeling anxious and want to have someone to talk to or need help, call: <b
                            class="phone_number">1-800-273-8255</b>
                        The National Suicide Prevention Lifeline contains a helpline or a chatroom if you need to
                        talk to someone for help.
                    </p>

                    <a href="https://www.nami.org/Find-Support/NAMI-HelpLine" class="site_link">National Institute
                        on
                        Mental Illness</a>
                    <p class="site_description">
                        If you are feeling anxious and want to have someone to talk to or need help, call: <b
                            class="phone_number">1-800-950-NAMI (6264)</b>
                        The National Institute on Mental Illness contains information about anxiety as well as a
                        helpline where you can talk to staff and volunteers.
                    </p>

                    <a href="https://adaa.org/" class="site_link">Anxiety and Depression Association of America</a>
                    <p class="site_description">
                        The ADAA contains information about anxiety and additional information about the different
                        types
                        of therapy and medication.
                    </p>

                    <a href="https://www.nimh.nih.gov/health/topics/anxiety-disorders/index.shtml"
                       class="site_link">
                        National Institute of Mental Health</a>
                    <p class="site_description">
                        The National Institute of Mental Health contains information about the signs and symptoms,
                        risk
                        factors
                        and the different treatments for anxiety.
                    </p>

                    <a href="https://www.psychologytoday.com/us/basics/anxiety"
                       class="site_link">psychologytoday.com</a>
                    <p class="site_description">
                        Psychology Today contains basic information about anxiety and a therapist locator.
                    </p>

                    <a href="https://www.mentalhelp.net/articles/anxiety-hotline/"
                       class="site_link">mentalhelp.net</a>
                    <p class="site_description">
                        Mentalhelp.net contains information about anxiety and information about contacting anxiety
                        hotlines.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>



