{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_tracks_url = "{{=URL('api', 'get_tracks')}}";
    var add_track_url = "{{=URL('api', 'add_track', user_signature=True)}}";
    var del_track_url = "{{=URL('api', 'del_track',  user_signature=True)}}";
    var get_user_url = "{{=URL('api', 'get_user')}}";
</script>
{{end}}

<div class="main_content">

    <!-- For the moment, we use a separate page to add tracks to the database. -->
    <div id="vue-div" class="display:none">
    {{if auth.user is not None:}}
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="adding_track">
            <!-- Code to upload files, with control buttons -->
            <div id="uploader_div" style="display:none">
                Upload an audio file: <input id="file_input" type="file" v-on:change="upload_file"
                                             accept="audio/mpeg">
                Artist: <input v-model="form_artist" id="artist_input" type="text">
                Album: <input v-model="form_album" id="album_input" type="text">
                Title: <input v-model="form_title" id="title_input" type="text">
            </div>
            <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus"></i></button>
            <button v-if="is_uploading" v-on:click="close_uploader">Cancel</button>
        </div>
        <!-- Code to display the table of tracks -->
        <div class="result_table">
            <table class="track_table">
                <thead>
                <tr>
                    <th></th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Track</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="track in tracks">
                    <td></td>
                    <td>${track.artist}</td>
                    <td>${track.album}</td>
                    <td>${track.title}</td>
                    <td>
                        <audio controls>
                            <source src="${track.track_url}" type="audio/mpeg">
                        </audio>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {{else:}}
        <p>Log in to upload your own soundtracks.</p>
    {{pass}}
    </div>
</div>

<script src="{{=URL('static', 'js/default_soundtrack.js')}}"></script>
