{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static', 'css/soundtrack.css')}}"
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var tracks_url = "{{=URL('api', 'get_tracks', user_signature=True, hash_vars=False)}}";
    var upload_url = "{{=URL('api', 'upload_track', user_signature=True)}}";
    var add_track_url = "{{=URL('api', 'add_track', user_signature=True)}}";
    var del_track_url = "{{=URL('api', 'del_track',  user_signature=True)}}";
    var play_url = "{{=URL('api', 'play_track', user_signature=True)}}";
    var get_insertion_id_url = "{{=URL('api', 'get_insertion_id', user_signature=True)}}";
    var cleanup_url = "{{=URL('api', 'cleanup', user_signature=True)}}";
    var toggle_favorite_url = "{{=URL('api', 'toggle_favorite', user_signature=True)}}"
    var get_user_url = "{{=URL('api', 'get_user')}}";
    var search_url = "{{=URL('api', 'search')}}";
    var get_favorites_url = "{{=URL('api', 'get_favorites')}}";
    var toggle_url = "{{=URL('api', 'toggle_public', user_signature=True)}}";
</script>
{{end}}
<script src="{{=URL('static', 'js/dropzone.js')}}"></script>


<script>
$(function() {
  Dropzone.options.fileUploader = {
    maxFilesize: 40, // MB
    url: upload_url,
    addRemoveLinks: false,
    parallelUploads: 1,
    acceptedFiles: 'audio/*',
    createImageThumbnails: false,
    init: function() {
      this.on("addedfile", function() {
        if (this.files.length > 1) {
          this.removeFile(this.files[0]);
        }
      });
      this.on("success", function(file, response) {
          APP.upload_complete(response);
          this.removeAllFiles();
      })
    }
  }
});
</script>

<div class="main_content">
    <h1>Music</h1>
    <!-- Dropzone uploader. This unfortunately cannot go into the Vue div -->
    <div id="uploader_div" style="display:none">
    <form action="" class="dropzone dz-clickable" id="file-uploader">
      <div class="dz-message">
        Drop files here to upload them, or click to select them.
      </div>
    </form>
    </div>

    <!-- For the moment, we use a separate page to add tracks to the database. -->
    <div id="vue-div" class="display:none">
    {{if auth.user is not None:}}
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="adding_track">
            <div class="adding_track">
                <div v-if="is_adding_track_info">
                    <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data"
                          method="post">
                        <div class="form-group" id="no_table_title__row">
                            <div><input class="form-control string" id="no_table_title" name="title" type="text"
                                        v-model="form_title" placeholder="Title"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_artist__row">
                            <div>
                                <input class="form-control string" id="no_table_artist" v-model="form_artist"
                                       placeholder="Artist" type="text"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_album__row">
                            <div>
                                <input class="form-control string" id="no_table_album" name="album" type="text"
                                       v-model="form_album" placeholder="Album"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group" id="no_table_genre__row">
                            <div><input class="form-control string" id="no_table_genre" name="genre" type="text"
                                        v-model="form_genre" placeholder="Genre"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="button_bar">
            <button v-if="!is_adding_track && !is_adding_track_info" class="btn" v-on:click="add_track_button()">
                <i class="fa fa-plus"></i> Add Track
            </button>
            <button v-if="is_adding_track_info" class="btn red" v-on:click="add_track()">
                <i class="fa fa-plus"></i> Add
            </button>
            <button v-if="is_adding_track_info || is_adding_track" class="btn " v-on:click="add_track_button()">
                <i class="fa fa-times"></i> Cancel
            </button>
            <button v-on:click="get_tracks(current_user)">My Tracks</button>
            <button v-on:click="get_tracks('default')">All Tracks</button>
            <button v-on:click="get_favorites()">
                <i class="fa fa-heart"></i> Favorites
            </button>
            <div class="threequarters container">
                <div class="search_bar quarter compressible container">
                    <form action="#" v-on:submit.prevent class="form-horizontal search" enctype="multipart/form-data"
                          method="post">
                        <input class="search" type="text" v-model="form_search" placeholder="Search..."/>
                        <span class="help-block"></span>
                    </form>
                </div>
                <div class="search_button quarter compressible container">
                    <button class="btn" v-on:click="search_tracks(form_search)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Code to display the table of tracks -->
        <div class="result_table" id="rounded">
            <table class="track_table">
                <thead>
                <tr class="head">
                    <th></th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Genre</th>
                    <th>Public</th>
                    <th><i class="fa fa-heart-o"></i></th>
                    <th><i class="fa fa-trash-o"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="track in tracks">
                    <td class="play_selector"><i class="fa" v-on:click="select_track(track._idx)"
                                                 v-bind:class="{'fa-volume-up': track.id == selected_id, 'fa-volume-off': !(track.id == selected_id)}"></i>
                    </td>
                    <td>${track.title}</td>
                    <td>${track.artist}</td>
                    <td>${track.album}</td>
                    <td>${track.genre}</td>
                    <td>
                        <a v-if="track.created_by==current_user" v-on:click="toggle_public(track._idx)" class="btn rounded">
                            <i v-if="track.is_public " class="fa fa-users"></i>
                            <i v-if="!track.is_public" class="fa fa-user"></i>
                        </a>
                        <i v-if="track.created_by!=current_user" class="fa fa-users"></i>
                    </td>
                    <td>
                        <i v-if="favorited(track._idx)" style="color: #7fdbe8" v-on:click="toggle_favorite(track._idx)" class="fa fa-heart"></i>
                        <i v-if="!favorited(track._idx)" v-on:click="toggle_favorite(track._idx)" class="fa fa-heart-o" style="color: #7fdbe8"></i>
                    </td>
                    <td><i v-if="track.created_by==current_user" class="fa fa-trash-o" v-on:click="delete_track(track._idx)"></i></td>
                    <td v-if="track.id==selected_id">
                        <div v-if="selected_id >= 0" class="music_controller">
                          <div v-if="selected_url">
                            <audio v-bind:src="selected_url" controls autoplay>
                              Your browser does not support the audio element.
                            </audio>
                          </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {{else:}}
        <p>Log in to upload your own soundtracks.</p>
    {{pass}}
    </div>
</div>

<script src="{{=URL('static', 'js/default_soundtrack.js')}}"></script>
