{{extend 'layout.html'}}
{{block head}}
<link rel = "stylesheet" href="{{=URL('static', 'js/lib/themes/default.css')}}">
<link rel = "stylesheet" href="{{=URL('static', 'js/lib/themes/default.date.css')}}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel='stylesheet' href='https://unpkg.com/v-calendar/lib/v-calendar.min.css'>
<link rel="stylesheet" href="{{=URL('static', 'css/tracker.css')}}">
<script>
    var get_date_url = "{{=URL('api', 'get_date')}}";
    var add_date_url = "{{=URL('api', 'add_date')}}";
    var edit_date_url = "{{=URL('api', 'edit_date')}}";
    var get_dates_url = "{{=URL('api', 'get_dates')}}";
</script>
{{end}}

<script src="{{=URL('static', 'js/lib/picker.js')}}"></script>
<script src="{{=URL('static', 'js/lib/picker.date.js')}}"></script>
<script src="{{=URL('static', 'js/default_tracker.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="{{=URL('static', 'js/moment.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src='https://unpkg.com/vue/dist/vue.js'></script>
<script src='https://unpkg.com/v-calendar'></script>



<div class="main_content">

  {{if auth.user is not None:}}
      <!--chart source: http://www.chartjs.org/docs/latest/-->
      <h1> Tracking </h1>
      <div class="container">
        <div class="half compressible">
          <canvas id="chart" :data="dates" style="height: 400px;"></canvas>
        </div>
        <script>

          var dates = [];
          var ctx = document.getElementById("chart");
          var chart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: dates,
              datasets:[{
                label: 'attacks',
                fill: false,
                lineTension: 0.2,
                pointRadius: 5,
                pointHoverRadius: 8,
                borderColor: '#87CBF7',
                borderWidth: 2,
                backgroundColor: '#81EEEA'
              }]
            },
            options: {
              tooltips:{
                backgroundColor: '#707BD3'
              },
              title: {
                display: true,
                text: 'Anxiety/Panic Attacks',
                fontColor: '#707BD3',
              },
              scales:{
                xAxes: [{
                  gridLines:{
                    zeroLineColor: '#D8F1FF',
                    color: '#D8F1FF',
                  },
                  type: 'time',
                  time: {
                    displayFormats:{
                      hour: 'll',
                      week: 'll',
                    },
                  },
                  ticks: {
                    fontColor: '#707BD3',
                  }
                }],
                yAxes: [{
                  gridLines:{
                    zeroLineColor: '#D8F1FF',
                    color: '#D8F1FF',
                  },
                  ticks: {
                    fontColor: '#707BD3',
                    stepSize:1,
                  }
                }]
              },
              legend:{
                display: false,
              }
            },
          });

          $.getJSON(get_dates_url,
              function(data){
                chart.data.datasets[0].data = data.data.map(function(t){
                  var date = t.date.split("/");
                  var newdate = date[2]+'-';

                  if(date[0].length == 1){
                    newdate+='0'+date[0]+'-';
                  }else{
                    newdate+=date[0]+'-';
                  }

                  if(date[1].length == 1){
                    newdate+='0'+date[1];
                  }else{
                    newdate+=date[1];
                  }
                  newdate = new Date(newdate);
                  dates.push(newdate);
                  return({
                    t: moment(newdate).startOf('day'),
                    y: t.attacks
                  });
                });
                done();
              }
            );
          var done = function(){
            chart.update();
          }

          var graph = null;
          jQuery(function(){graph = chart});
        </script>
        <div class="half compressible">
          <div id='app'>
            <v-date-picker :theme-styles='themeStyles' is-expanded :mode='mode' :attributes='attrs' :is-inline='inline' :value='null' @dayclick='dayclicked'></v-date-picker>
          </div>
          <!--calendar soruce: https://docs.vcalendar.io/#welcome-to-v-calendar-->
          <script>
            self.dayclicked = function(day){
              var date = day.month+"/"+day.day+"/"+day.year;
              console.log(date);
              APP.select_date(date);
            }

            self.get_dates = function(){
              $.getJSON(get_dates_url,
                        function(data){
                          self.vue.attrs = data.data.map(function(t){
                            var date = t.date.split("/");
                            return({
                            key: t.id,
                            highlight: {
                              backgroundColor: '#87CBF7',
                              borderColor: 'white',
                              borderWidth: '2px',
                              borderStyle: 'solid'
                            },
                            contentStyle:{
                              color: 'white',
                            },
                            dates: new Date(date[2], date[0]-1, date[1]),
                          })})
                        }
                     );
            }

            self.vue = new Vue({
              el: '#app',
              data: {
                // Data used by the date picker
                mode: 'single',
                inline: true,
                attrs: self.get_dates(),
                themeStyles: {
                  wrapper: {
                    background:'linear-gradient(to bottom right, #81EEEA, #707BD3',
                    color: '#ffffff',
                    boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.14), 0 6px 20px 0 rgba(0, 0, 0, 0.13)',
                    borderRadius: '5px',
                  },
                  weekdays: {
                    color: 'white',
                  }
                },
                selected_date: '',
              },
              methods: {
                dayclicked: self.dayclicked,
              }
            });

            var calendar = null;
            jQuery(function(){calendar = self.vue});
          </script>
        </div>
      </div>
      <div id="vue-div" class="display:none">
        <!--maybe later add something that prevents them from submitting empty things-->
        <div class="day">
          <h2>Day Information</h2>
          <div id="round_card">
            <div v-if="day_data!=null">
              <h3>${date}</h3>
              <div v-if="!is_editing_date">
                <p><b>Number of attacks:</b> ${day_data.attacks}</p>
                <p><b>Notes:</b> ${day_data.notes}</p>
                <button v-on:click="edit_button()" class="btn btn-primary">
                  <i class="fa fa-edit fa-lg"></i>
                </button>
              </div>
              <div v-if="is_editing_date">
                <!--the css for this doesn't look the way I want it to lmao-->
                <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                  <div class="form-group" id="no_table_attacks__row">
                    <p><b>Number of attacks: </b></p><input class="form-control number"
                      id="no_table_attacks" name="attacks" v-model="form_attacks=day_data.attacks"
                      placeholder="Number of attacks" type="number"/>
                  </div>
                  <div class="form-group" id="no_table_notes__row">
                    <p><b>Notes: </b></p><input class="form-control string" id="no_table_notes"
                      name="notes" type="text" v-model="form_notes=day_data.notes"
                      placeholder="Notes about the day/attacks"/>
                  </div>
                  <div class="form-group" id="submit_record__row">
                    <input v-on:click="edit_date(chart)" class="btn btn-primary" id="edit_date_submit"
                      type="submit" value="Submit"/>
                    <button v-on:click="edit_button()" class="btn red btn-primary">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
            <div v-if="day_data == null">
              <h3>${date}</h3>
              <p>This day is empty, enter information below.</p>
              <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_attacks__row">
                  <input class="form-control number" id="no_table_attacks" name="attacks"
                  v-model="form_attacks" placeholder="Number of attacks" type="number"/>
                </div>
                <div class="form-group" id="no_table_notes__row">
                  <input class="form-control string" id="no_table_notes" name="notes" type="text"
                    v-model="form_notes" placeholder="Notes about the day/attacks"/>
                </div>
                <div class="form-group" id="submit_record__row">
                  <input v-on:click="add_date(chart, calendar)" class="btn btn-primary" id="add_date_submit"
                    type="submit" value="Add day"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {{else:}}
      <h1>Tracking</h1>
      <p>Log in to track your progress. <!--(maybe change this to be a redirect to the login page or something later. idk how to do that rn, so I'm just leaving it as this for now lol) Also this css looks bad but we'll change it later--></p>
    {{pass}}
  </div>
</div>
