<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
    {{include "web2py_ajax.html"}}
  </head>
  <body>
    {{if response.flash:}}
    <div class="w2p_flash">
      {{=response.flash}}
    </div>
    {{pass}}
    <main class = login>
      <div class="sidebar">
        <tt class="padded">
            <ul class="vertical-menu">
                <li class="site-title">
                    <tt class="site-title">
                        <image src="{{=URL('static', 'images/logo.png')}}" height="60" usemap="#imagemap">
                        <map name="imagemap">
                          <area shape="rect" href="{{=URL('default', 'index.html')}}" coords="0, 0, 172, 172">
                        </map>

                    </tt>
                </li>
                <li>
                    <a href="{{=URL('default', 'index.html')}}">
                        <i class="fa fa-home" style="color:white">
                            <h5 class="menu_text"> Home</h5>
                        </i>
                    </a>
                </li>
                <li>
                    <a href="{{=URL('default', 'tracker.html')}}">
                        <i class="fa fa-calendar" style="color:white">
                            <h5 class="menu_text"> Tracking</h5>
                        </i>
                    </a>
                </li>
                <li>
                    <a href="{{=URL('default', 'soundtrack.html')}}">
                        <i class="fa fa-music" style="color:white">
                            <h5 class="menu_text"> Music</h5>
                        </i>
                    </a>
                </li>
                <li>
                    {{if auth.user is None:}}
                      <a href="{{=URL('default', 'user/login')}}">
                          <i class="fa fa-sign-in" style="color:white">
                              <h5 class="menu_text">Login</h5>
                          </i>
                      </a>
                    {{else:}}
                      <a href="{{=URL('default', 'user/logout')}}">
                          <i class="fa fa-sign-out" style="color:white">
                              <h5 class="menu_text">Logout</h5>
                          </i>
                      </a>
                    {{pass}}
                </li>
            </ul>
        </tt>
      </div>
      {{include}}
    </main>
  <script src="{{=URL('static','js/marked.min.js')}}"></script>
  <script src="{{=URL('static','js/vue.min.js')}}"></script>
  {{block bottomjs}}{{end}}
  <script>
    jQuery('.social a').each(function(){var t=jQuery(this); t.attr('href',t.attr('href').replace('{url}',encodeURIComponent(window.location.href)));});
  </script>
</html>
