h1 {
    color: #707BD3;;
}

.track_table{
    background-color: white;
    color: #58b3ef;
}

.head{
   background-color: white;
   color: #707BD3;
}

#rounded{
    border-radius: 25px;
    border: 2px solid #87CBF7;
    padding: 20px;
}

th {
    padding-right:50px;
}

.search{
    width: 200px;
}