.tracker_content{
    padding: 30px !important;
}
.day{
    padding-top: 10px !important;
}
.day h2{
    color: #707BD3;
}

.day h3{
    color: #58b3ef;
}

.day p{
    font-weight: normal !important;
    color: #429bd6;
}

#round_card {
    border-radius: 25px;
    border: 2px solid #87CBF7;
    padding: 20px;
}

h1{
    color: #707BD3;
}